<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <form action="post" (ngSubmit)="onSubmit()">
        <h3 class="text-center">Login</h3>
        <div class="alert alert-danger" [hidden]="!appService.loginErr">
          {{ appService.loginErr }}
        </div>
        <div class="mb-3">
          <label for="name">name:</label>
          <input
            class="form-control"
            type="text"
            id="name"
            name="name"
            [(ngModel)]="username"
          />
        </div>
        <div class="mb-3">
          <label for="password">password:</label>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            class="form-control"
          />
        </div>

        <div>
          <button class="btn btn-primary" type="submit">login</button
          ><span> or <a routerLink="/register">register</a></span>
        </div>
      </form>
    </div>
  </div>
</div>
